.nav-link {
    transition: all 0.2s ease-in-out;
}

.hover-bg-light:hover {
    background-color: #e9ecef;
    padding-left: 1.25rem; /* Petit effet de décalage au survol */
}

.transition-all {
    transition: all 0.3s ease;
}