<div class="d-flex flex-column p-3 bg-light border-end" style="height: 100vh; width: 280px;">
  <h2 class="h5 fw-bold mb-4 border-bottom pb-2">Régions :</h2>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active mb-2 rounded-pill">Auvergne-Rhône-Alpes</a>
    </li>
    <li><a href="#" class="nav-link link-dark mb-2">Bourgogne-Franche-Comté</a></li>
    <li><a href="#" class="nav-link link-dark mb-2">Bretagne</a></li>
    <li><a href="#" class="nav-link link-dark mb-2">Centre-Val de Loire</a></li>
    <li><a href="#" class="nav-link link-dark mb-2">Grand Est</a></li>
    </ul>
</div>