<div class="d-flex flex-column p-3 bg-light border-end" style="height: 100vh; width: 280px;">
  <h2 class="h4 fw-bold mb-4 border-bottom pb-2 text-decoration-underline">Régions :</h2>
  
  <ul class="nav nav-pills flex-column mb-auto">
    @for (region of regions; track region) {
      <li class="nav-item">
        <button 
          (click)="selectRegion(region)"
          [class.active]="region === regionSelectionnee"
          class="nav-link w-100 text-start mb-1 rounded-pill border-0 bg-transparent"
          [ngClass]="{'text-primary fw-bold': region === regionSelectionnee, 'text-dark': region !== regionSelectionnee}">
          {{ region }}
        </button>
      </li>
    }
  </ul>
</div>