.chart-preview-card {
    transform: translateY(-80px); /* Remonte la carte sur le bandeau du haut */
    z-index: 10;
}

.hero-section {
    height: 450px;
    background-image: url('https://images.unsplash.com/photo-1545324418-cc1a3fa10c00?q=80&w=2000');
    background-size: cover;
    background-position: center;
    border-bottom: 8px solid #2c3e50;
}

.btn-explore {
    background-color: #34495e !important;
    border: none;
    transition: all 0.3s ease;
}

.btn-explore:hover {
    background-color: #1a252f !important;
    transform: scale(1.05);
}